.uncertainty {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  min-height: 100vh;
  font-size: 10vw;
  font-family: 'Arial Black', sans-serif;
}

.pie {
  width: 7vw; height: 7vw;
  transform: rotate(-90deg);
  border-radius: 50%;
}

.pie circle {
  fill: transparent;
  stroke: #000;
  stroke-width: 32;
  stroke-dasharray: 0 100; 
}

.pie circle {
  transition: stroke-dasharray 1s;
}

#uncertainty-time-pie-circle {
  fill: transparent;
  stroke: RGBA(255,0,0,0.5);
}

#uncertain-time {
  text-shadow: 0 0 3px RGBA(255,0,0,1);
}