body {
  margin: 5vw; 
  font-family: 'Arial Black', sans-serif;
}

.debug-wrap {
  font-family: 'Helvetica',sans-serif;
  color: red; 
  font-size: 12px;
  position: absolute;
  right: 50px;
  top: 50px;
}

h1 {
  font-size: 5vw;
  font-weight: 200;
  margin: 0;
}

h2 {
  margin-top: 0;
}

p {
  font-family: 'Arial', sans-serif;
  font-size: 14px;
}

/*.twitter {
  font-size: 2em;
  position: absolute;
  right: 5vw;
  top: 5vw;
}*/

.uncertainty {
  font-size: 10vw;
  margin-top: -40px;
}


// debug
.pie {
  width: 7vw; height: 7vw;
  transform: rotate(-90deg);
  border-radius: 50%;
  margin-top: 20px;
}

.pie circle {
  fill: transparent;
  stroke: #000;
  stroke-width: 32;
  stroke-dasharray: 0 100; 
}

.pie circle {
  transition: stroke-dasharray 1s;
}

#uncertainty-time-pie-circle {
  fill: transparent;
  stroke: RGBA(255,0,0,0.5);
}

.active {
  text-shadow: 0 0 3px RGBA(255,0,0,1);
}