<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Uncertain Time</title>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,200" rel="stylesheet">

  <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
  
  <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
  <script src="/js/app.js"></script>

  <link rel="stylesheet" href="/css/style.css">

</head>

<body class="home">
   <div class="page-wrap" >
      <div class="hero">
        <div class="uncertainty">
        <div class="uncertain-time-wrap">
          <span id="uncertain-time-string" class=""></span>
        </div>
      </div>
      </div>
        <h1>uncertain time</h1>
        <h2>questioning time authority</h2>
          <p>uncertain time is an investigation in dependency on machine and time.</p>
          <p>
            set your computers timeserver setting to <i>uncertaintime.com</i> <br>
            the uncertain timeserver will occasionally deliver an alternative time.<br>
          </p>
          <p>
            will it affect your system and life ?<br>
            can you afford to loose track of time ?<br>
            will you notice at all ?<br>
          </p> 
          
          <p><a class="twitter" href="https://twitter.com/uncertain_time"><i class="fa fa-twitter" aria-hidden="true"></i></a> <a href="mailto:mail@uncertaintime.com">mail@uncertaintime.com</a>
          </p>
    </div>
    <footer>

    </footer>

   <script>
      jQuery(document).ready(function() {
        uctApp = new uctApp();
      });
   </script>

</body>
</html>